/* WorkExperience.css */

.work-experience {
  padding-top: 5rem; /* py-20 */
  padding-bottom: 5rem; /* py-20 */
}

.container {
  max-width: 1280px; /* Adjust as necessary */
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem; /* px-6 */
  padding-right: 1.5rem; /* px-6 */
}

.title {
  font-size: 2.25rem; /* text-4xl */
  font-weight: bold; /* font-bold */
  margin-bottom: 3rem; /* mb-12 */
  text-align: center; /* text-center */
}

.timeline {
  position: relative;
  max-width: 768px; /* max-w-3xl */
  margin-left: auto;
  margin-right: auto;
}

.timeline-line {
  position: absolute;
  left: 1rem; /* left-4 */
  top: 0;
  width: 0.25rem; /* w-1 */
  height: 100%;
  background-color: #e5e7eb; /* bg-gray-200 */
}

.timeline-item {
  position: relative;
  padding-left: 4rem; /* pl-16 */
  margin-bottom: 2rem; /* mb-8 */
  border-bottom: 1px solid #ccc;
}

.timeline-bullet {
  position: absolute;
  left: 0;
  top: 0.5rem; /* top-2 */
  width: 2rem; /* w-8 */
  height: 2rem; /* h-8 */
  background-color: #3b82f6; /* bg-primary-500 */
  border-radius: 0.5rem; /* rounded-full */

  display: flex;
  align-items: center;
  justify-content: center;
}

.bullet-inner {
  width: 0.75rem; /* w-3 */
  height: 0.75rem; /* h-3 */
  background-color: white; /* bg-white */
  border-radius: 0.5rem; /* rounded-full */
}

.job-card {
  padding: 0.75rem; /* p-6 */
  background-color: var(--container-color);
  border-radius: 0.375rem; /* rounded-lg */
  box-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.1); /* shadow-sm */
  cursor: pointer;
  transition: box-shadow 0.15s ease-in-out;
}

.job-card:hover {
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.15); /* hover:shadow-md */
}

.job-title {
  font-size: 0.75rem; /* text-xl */
  font-weight: bold; /* font-semibold */
  margin-bottom: 0.5rem; /* mb-2 */
}

.job-details {
  display: flex; /* flex flex-col md:flex-row justify-between mb-2 */

  justify-content: space-between;
  margin-bottom: 0.5rem; /* mb-2 */
}

.company-name {
  color: #4b5563; /* text-gray-600 dark:text-gray-300 */
}

.job-location {
  color: #6b7280; /* text-gray-500 dark:text-gray-400 text-sm */

  font-size: 0.875rem; /* text-sm */
}

.job-dates {
  color: #3b82f6; /* text-primary-500 dark:text-primary-400 */

  font-size: 0.875rem; /* text-sm */
}

.tab-container {
  margin: 2rem 0rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.tab-button {
  padding: 0.5rem 1rem;
  color: #4b5563; /* Gray-600 */
  cursor: pointer;
}

.tab-button.active {
  color: #3b82f6; /* Blue-500 */
  border-bottom: 2px solid #3b82f6; /* Blue-500 */
}

.timeline-item {
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;
}


